body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#category-filtering {
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33% - 20px);
    
}

h2 {
    color: #333;
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#trending-gifs, #random-gifs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 20px; 
  }
 #trending-gifs img, #random-gifs{
    width: 100%; 
    height: 70%; 
  }

  #trending-gifs h2 {
    margin-bottom: 10px; 
}

#search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 10px; /
}

#search-results .gif-image {
    width: 100%; 
    height: auto; 
}

#category-gifs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 20px; 
}

#category-gifs img{
    width: 100%; 
    height: 70%;
}

#search-results{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 20px;
}

#search-results img {
    width: 100%; 
    height: 70%;
}